# Database connection string
POSTGRES_URL=postgres://neondb_owner:npg_zlTaUZRgW59L@ep-hidden-recipe-a1z8kxdg-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
# Blob storage token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_HROvAMXhUEVWN2iw_kh7hopOBdsjJYnZfTNH2h0av4vAXps
# Used to encrypt JWT tokens
PAYLOAD_SECRET=72dc1ac0b62631b9a2d4721193771b2d1ba4de7accb2e8bb01a4c76f0581714d
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=9d16d8cb78f8aee6074dfaa026bbc3f4b41b46c93ff8af65f7d15121923a5847
# Used to validate preview requests
PREVIEW_SECRET=bc918bd3b4b36288ceea8579dd3dd379cd0071b47b70e56644a4936610183e77
# Force use of Vercel Postgres
FORCE_USE_VERCEL_POSTGRES=true

# Parameters for Vercel Postgres Templates
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_zlTaUZRgW59L@ep-hidden-recipe-a1z8kxdg.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-hidden-recipe-a1z8kxdg-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_PASSWORD=npg_zlTaUZRgW59L
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_zlTaUZRgW59L@ep-hidden-recipe-a1z8kxdg-pooler.ap-southeast-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_zlTaUZRgW59L@ep-hidden-recipe-a1z8kxdg-pooler.ap-southeast-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require